{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
{% set classes = [
  is_active ? 'active',
  'tab',
  'col-sm'
] %}

{# If active, add active class to link #}
{% if is_active %}
  {% set class = link['#options']|merge({
    'attributes': {
      'class': [
        'active'
      ]
    }
  }) %}
  {% set link = link|merge({ ('#options'): class}) %}
{% endif %}

<li{{ attributes.addClass(classes) }}>{{ link }}</li>
