html {
  width: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  background-color: white;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  margin: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

img {
  vertical-align: middle;
}

[role='button'] {
  cursor: pointer;
  user-select: none;
}

// Ensures containers do not spill out of any smaller parent element
.container {
  max-width: 100%;
}

.container-fluid {
  max-width: $dimension-container-fluid-max-width;
}
