@mixin hide-text() {
  overflow: hidden;
  color: transparent;
  text-indent: -200vw;
}

@mixin anchor-states() {
  transition: color $transition-duration $transition-easing;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    color: $colour-accent-primary-dark;
  }

  &:active {
    color: $colour-accent-primary;
  }

  &:focus {
    color: $colour-accent-primary-dark;
    outline: 0;
  }
}
